/* ***
  version : "1.0.0"
  https://github.com/Antoine-360pixel/sass-grid 
*** */

// Grid Settings
$row_max_width  : 1720px !default;
$gutter_width   : 20px !default;
$cols           : 6 !default;
$mobile_start   : 1300px;

// Grid init
$default_float  : left;
$switch_float   : right;

$gutter: percentage($gutter_width / $row_max_width);

@function row_max_width() {
  @if ($row_max_width == 100%) {
    @return (100% - 2 * $gutter_width);
    @warn "Assuming #{$gutter_width} to be in %";
  }
  @else {
    @return $row_max_width;
    @warn "Assuming #{$gutter_width} to be in pixels";
  }
}

@function oneCol() {
  @return (100% - ($gutter * ($cols - 1))) / $cols;
}

@function columns($num){
  @return (oneCol() * $num) + ($gutter * ($num - 1));
}

@mixin row ($option: false){
  width: 100%;
  margin: 0 auto;
  @extend .clearfix;

  @if ($option == false) {
    max-width: row_max_width();
  }
}

@mixin col-default {
  float: $default_float;
  position: relative;
  min-height: 1px;
  margin-left: $gutter;
  margin-bottom: 50px;
  box-sizing: border-box;

  &:first-child {
    margin-left: 0px;
  }
}

@mixin col(  $columns, $position: false) {

  width: columns($columns);
  @include col-default;

  @if ($columns == $cols) {
    margin-left: auto;
  }

  @if ($position == right or $position == left or $position == center) {

    $opposite: opposite-position($position);

    @if ($position == right or $position == left) {
      float: none;
      margin-#{$opposite}: auto;
    }

    @if ($position == center) {
      float: none;
      margin-left: auto;
      margin-right: auto;

      &:first-child {
        margin-left: auto;
      }
    }
  }
}

@mixin one-col {
  @include col-default;

  + .one-col {
    margin-left: auto;
  }

  .fluid-row & {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.fluid-row {
  @include row;
}

@for $f from 1 through $cols {
  .col-#{$f} {
    @include col($f);
  }
}

[class^="col-"] {
  @media screen and (max-width: 1024px) {
    @include col(6);
  }
}